@model ProjetMVC.Models.Client

@{
    ViewData["Title"] = "Connexion";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetMVC</title>
    <link rel="stylesheet" href="~/css/connexion.css" />
</head>
<body>
    
    <div class="wrap-container">
       
    <div class="form-container">
        <h1>Connexion</h1>
        <form asp-action="Connexion">
            <!-- Affiche les erreurs de validation -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Champ Adresse Email -->
            <div class="form-group">
                <label asp-for="AdresseEmail"></label>
                <input asp-for="AdresseEmail" />
                <span asp-validation-for="AdresseEmail" class="text-danger"></span>
            </div>

            <!-- Champ Mot de Passe -->
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Bouton Connexion -->
            <button type="submit" class="btn-submit">Se connecter</button>
        </form>

        <!-- Lien Retour -->
        <a asp-action="Index" class="back-link">Retour à la liste</a>
    </div>
      
    </div>
    <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
</body>
</html>
