@model ProjetMVC.Models.Client

@{
    ViewData["Title"] = "Inscription";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetMVC</title>
    <link rel="stylesheet" href="~/css/inscription.css" />
</head>
<body>

    <div class="wrap-container">
    <div class="form-container">
        <h1>Inscription</h1>
        <form asp-action="Inscription">
            <!-- Affiche les erreurs de validation -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Champ Nom -->
            <div class="form-group">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <!-- Champ Prénom -->
            <div class="form-group">
                <label asp-for="Prenom"></label>
                <input asp-for="Prenom" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <!-- Champ Adresse Email -->
            <div class="form-group">
                <label asp-for="AdresseEmail"></label>
                <input asp-for="AdresseEmail" />
                <span asp-validation-for="AdresseEmail" class="text-danger"></span>
            </div>

            <!-- Champ Mot de Passe -->
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Bouton Inscription -->
            <button type="submit" class="btn-submit">S'inscrire</button>
        </form>

        <!-- Lien Retour -->
        <a asp-action="Index" class="back-link">Retour à la liste</a>
    </div>
    </div>
    <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
</body>
</html>
