@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetMVC</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>

<div class="hero">
        <div class="hero__title">
            <h1>Bienvenue sur le site AYLINES</h1>
    </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>
</body>
